/building-services-server/target/
/building-services-client/target/
/creating-a-service-from-scratch/target/
/creating-a-service-from-scratch-client/target/
/generating-clients-from-the-WSDL-file/target/